:root {
  --background: #ffffff;
  --block-background:#339966;
  --block-mark: #26734d;
  --font-color: #ffffff;
}

body{
  margin-left: 8%;
  margin-right: 8%;
}
i a{
  color: var(--block-background);
}
i a:hover{
  color: var(--background);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--block-background);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li {
  float: left;
  top:50%

}
li a {
  display: block;
  color: var(--font-color);
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: var(--block-mark);
  text-decoration: none;
  color: var(--font-color);
}
img{
  width: 150px;
  float:left;
}
.box{
  border-style: solid;
  border-color: var(--block-background);
}
.btn{
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}
.cal{
  list-style-type: none;
  background-color:var(--block-background);
  display: block;
  color: var(--font-color);
  text-align: center;
  padding: 5px;
  text-decoration: none;
  border-style: solid;
  border-color: var(--background);

}
.cal:hover{
  background-color:#26734d;
  text-decoration: none;
  color: var(--font-color);
}
.card{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
}
.col{
  margin: px;
}
.daylist{
  border-bottom-style: solid;
  border-color: grey;
  margin: 1%;
}
.daynames{
  list-style-type: none;
  background-color: var(--block-mark);
  display: block;
  color: var(--font-color);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-style: solid;
  border-color: var(--background);
}
.hour{
  margin-left:2%;
  margin-right: 2%;
  border-top-style: solid;
  border-color: var(--background);
  border-top-width: 5px;
}
.info{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.profile{
  float: right;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
