{%extends 'main.html'%}


{% block title %} Wolne Terminy {% endblock %}
{% block body %}
<div class="row">
  <div class="col">
    <h6>PONIEDZIAŁEK</h6>
  </div>
  <div class="col">
    <h6>WTOREK</h6>
  </div>
  <div class="col">
    <h6>ŚRODA</h6>
  </div>
  <div class="col">
    <h6>CZWARTEK</h6>
  </div>
  <div class="col">
    <h6>PIĄTEK</h6>
  </div>
  <div class="col">
    <h6>SOBOTA</h6>
  </div>
  <div class="col">
    <h6>NIEDZIELA</h6>
  </div>
</div>
<div class="row">
  <div class="col">
    {% for i in monday %}
      {% for x in hours %}
        <ul><li><a href="{% url 'addMass' %}">{{i|date:"D d E Y"}} {{x}}</a></li></ul>
      {% endfor %}
    {% endfor %}
  </div>
  <div class="col">
    {% for i in tuesday %}
      {% for x in hours %}
        <a href="{% url 'addMass' %}" class="cal">{{i|date:"D d E Y"}}<br>{{x}}</a>
      {% endfor %}
    {% endfor %}
  </div>
  <div class="col">
    {% for i in wednesday %}
      {% for x in hours %}
        <a href="{% url 'addMass' %}"class="cal">{{i|date:"d E Y"}} {{x}}</a>
      {% endfor %}
    {% endfor %}
  </div>
  <div class="col">
    {% for i in thursday %}
      {% for x in hours %}
        <a href="{% url 'addMass' %}"><button type="button" class="btn btn-success">{{i|date:"D d E Y"}} {{x}}</button></a>
      {% endfor %}
    {% endfor %}
  </div>
  <div class="col">
    {% for i in friday %}
      {% for x in hours %}
        <a href="{% url 'addMass' %}"><button type="button" class="btn btn-success">{{i|date:"d E Y"}} {{x}}</button></a>
      {% endfor %}
    {% endfor %}
  </div>
  <div class="col">
    {% for i in saturday %}
      {% for x in hours %}
        <a href="{% url 'addMass' %}"><button type="button" class="btn btn-success">{{i|date:"d E Y"}} {{x}}</button></a>
      {% endfor %}
    {% endfor %}
  </div>
  <div class="col">
    {% for i in sunday %}
      {% for x in hours %}
        <a href="{% url 'addMass' %}"><button type="button" class="btn btn-success">{{i|date:"d E Y"}} {{x}}</button></a>
      {% endfor %}
    {% endfor %}
  </div>
</div>



{% endblock %}
