{%extends 'main.html'%}


{% block title %} {{week}}. Tydzień w Roku {{year}}{% endblock %}
{% block body %}

<!-- Spowiedzi w obecnym tygodzniu -->
{% if user.is_authenticated %}
<a href="{% url 'newConfession' %}" class="btn btn-outline-success">Dodaj <i class="fas fa-plus-circle"></i></a>
{% endif %}
<div class="card">
  <div class="card-body">
    <div class='row'>
      <div class='col'>
        <h3 class="daynames">{{week}}. Tydzień w Roku {{year}}</h3>
        <table class="table table-borderless">
        {% for day in days %}
          <thead class="thead-light">
            <tr>
              <th colspan="5">{{day.0.day|date:"l d E "}}</th>
            </tr>
          </thead>
          <tbody>
            {% for confes in day %}
            <tr>
              <td>{{confes.date}}</td>
              <td>{{confes.startHour}}</td>
              <td>{{confes.endHour}}</td>
              {%if confes.priest%}
              <td>{{confes.priest}}</td>
              {%endif%}
            </tr>
            {% endfor %}
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
<button onclick="window.print()">Drukuj</button>

{% endblock %}
