{%extends 'main.html'%}
{% load bootstrap %}

{% block title %} Dodaj Spowiedź {% endblock %}

{% block body %}
{% if alert  %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% else %}

{% endif %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Spowiedź:</h5>
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
      {%csrf_token%}
      {{ form.as_p }}
      <br><button type="submit" class="btn btn-success">Zatwierdź</button>
    </form>
  </div>
</div>

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block extrahead %}   {# Extra Resources Start #}
{{ form.media }}        {# Form required JS and CSS #}
{% endblock %}          {# Extra Resources End #}

{% endblock %}
