{%extends 'main.html'%}

{% block title %} {{week}}. Tydzień w Roku {{year}} {% endblock %}
{% block body %}

<!-- Msze w obecnym tygodzniu -->
<div class="card">
  <div class="card-body">
    <div class='row'>
      <div class='col'>
        <h3 class="daynames">{{week}}. Tydzień w Roku {{year}}</h3>
        <table class="table table-borderless">
        {% for day in days %}
          <thead class="thead-light">
            <tr>
              <th colspan="5">{{day.0.day|date:"l d E "}}</th>
            </tr>
          </thead>
          <tbody>
            {% for mass in day %}
            <tr>
              <td>{{mass.startTime}}</td>
              <td>{{mass.intention}}</td>
              {%if mass.type%}
              <td>{{mass.type}}</td>
              {%endif%}
              {%if mass.priest%}
              <td>{{mass.priest}}</td>
              {%endif%}
              {%if mass.place%}
              <td>{{mass.place}}</td>
              {%endif%}
              <td>
              {% if mass.intention == 'Wolny Termin' %}
                {% if user.is_authenticated %}
                  <a href="{% url 'editMass' mass.id %}" class="btn btn-outline-success"><i class="fas fa-plus-circle"></i></a>
                {% endif %}
              {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
<button onclick="window.print()">Drukuj</button>

{% endblock %}
