{%extends 'main.html'%}
{% load bootstrap %}

{% block title %} Terminarz {% endblock %}
{% block body %}
<div>
  <form class="form-horizontal" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ search|bootstrap }}
    <br>
    <form action='search_mass.html'>
      <input type="submit" value='Pokaż'/>
    </form>
    <br>
  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Dzień</th>
      <th scope="col">Godzina</th>
      <th scope="col">Ksiądz</th>
      <th scope="col">Rodzaj</th>
      <th scope="col">Miejsce</th>
      <th scope="col">Intencja</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for a in list %}
    <tr>
      <td>{{a.day|date:"d"}}</td>
      <td>{{a.day|date:"l"}}</td>
      <td>{{a.startTime}}</td>
      <td>{% for priest in a.priest.all %}{{ priest }}{% endfor %}</td>
    {%if a.type%}
      <td>{{a.type}}</td>
    {%else%}
      <td></td>
    {%endif%}
    {%if a.place%}
      <td>{{a.place}}</td>
    {%else%}
      <td></td>
    {%endif%}
      <td width="50%">{{a.intention}}</td>
      <td>
      {% if a.intention == 'Wolny Termin' %}
      <a href="{% url 'editMass' a.id %}" class="btn btn-outline-success"><i class="fas fa-plus-circle"></i></a>
      {% endif %}
      </td>
    </tr>
  {%endfor%}
  </tbody>
</table>

{% block extra_css %}
{{ search.media.css }}
{% endblock %}

{% block extra_js %}
{{ search.media.js }}
{% endblock %}

{% endblock %}
