{%extends 'main.html'%}
{% load bootstrap %}

{% block title %} Terminarz {% endblock %}
{% block body %}
<div>
  <form class="form-horizontal" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ search|bootstrap }}
    <br>
    <form action='search_mass.html'>
      <input type="submit" value='Pokaż'/>
    </form>
    <br>
  </form>
</div>
{% if user.is_authenticated %}
<a href="{% url 'newMass' %}" class="btn btn-outline-success">Dodaj <i class="fas fa-plus-circle"></i></a>
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th class="thSticky" scope="col">Data</th>
      <th class="thSticky" scope="col">Dzień</th>
      <th class="thSticky" scope="col">Godzina</th>
      <th class="thSticky" scope="col">Ksiądz</th>
      <th class="thSticky" scope="col">Rodzaj</th>
      <th class="thSticky" scope="col">Miejsce</th>
      <th class="thSticky" scope="col">Intencja</th>
      <th class="thSticky" scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for a in list %}
    <tr>
      <td>{{a.day|date:"d E"}}</td>
      <td>{{a.day|date:"l"}}</td>
      <td>{{a.startTime}}</td>
      {% if a.priest %}
      <td>{{ a.priest }}</td>
      {% endif %}
      {% if a.type %}
      <td>{{a.type}}</td>
      {% else %}
      <td></td>
      {% endif %}
      {% if a.place %}
      <td>{{a.place}}</td>
      {% else %}
      <td></td>
      {% endif %}
      <td width="50%">{{a.intention}}</td>
      <td>
      {% if a.intention == 'Wolny Termin' %}
        {% if user.is_authenticated %}
          <a href="{% url 'editMass' a.id %}" class="btn btn-outline-success"><i class="fas fa-plus-circle"></i></a>
        {% endif %}
      {% endif %}
      </td>
    </tr>
  {%endfor%}
  </tbody>
</table>

{% block extra_css %}
{{ search.media.css }}
{% endblock %}

{% block extra_js %}
{{ search.media.js }}
{% endblock %}

{% endblock %}
